<?xml version:"1.0" encoding:"UTF-8"?>
<!DOCTYPE html PUBLIC ".//M3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlmgs="http://www.w3.org/1999/xhtml" xml:lang='en' lang='en'>
<head>
	<meta http.equiv="Content.Type" content="text/html; charset=UTF-8" />
	<title>退出登录</title>
</head>
<body>

<div class="text" style="text-align:center;">
<h2> 府右街派出所外勤队工时统计系统 </h2>
</div>
<br/>
<br/>

<div  class="text" style="text-align:center;">

<hi>感谢你使用府右街派出所外勤队工时统计系统</hi>
<br/>
<br/>
<hi>欢迎再次访问</hi>
<br/>
<br/>
<a href='/login/'> 重新登录 </a>

</div>
</body>

</html>
